body{
    background: rgb(43, 43, 145);
    color: white;
}
main{
    display: flex;
    flex-direction: row;
    max-width: 100%;
}

#content{
    text-align: center;
    margin: 15px;
    width: 500px;
    border: 2px solid rgb(67, 33, 99);
    border-radius: 15px;
    background: rgb(154, 37, 165);
}

div#area{
    background: green;
    color: white;
    width: 50%;
    height: 200px;
    line-height: 200px;
    text-align: center;
    margin: 40px;
}

div#res{
    background: rgb(117, 51, 155);
    border-radius: 15px;
    margin: 10px;
    padding: 5px;
}

input{
    font: normal 18pt Arial;
    width: 100px;
    border-radius: 5px;
    margin-top: 20px;    
}
aside{
    text-align: center;
    margin: auto 15px;
    width: 600px;
    border: 2px solid rgb(67, 33, 99);
    border-radius: 15px;
    background: rgb(87, 15, 105);
}

aside > h1{
    color: blueviolet;
}

aside > input{
    margin: 20px;
}

aside :nth-child(5){
    margin-top: 20px;
    border: 2px solid rgb(115, 15, 207);
    border-radius: 5px;
    margin-top: 20px;
}

